---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      name: mypod
      labels:
        app: myapp
    spec:
      containers:
        - name: webappcontainer
          image: sanjeev51197/mytest:myapp-v1
          ports:
            - containerPort: 8080   # FIXED
---
apiVersion: v1
kind: Service
metadata:
  name: websvc
spec:
  type: LoadBalancer
  selector:
    app: myapp
  ports:
    - port: 8080                  # LoadBalancer external port
      targetPort: 8080            # Spring Boot port
