---
apiVersion: apps/v1
kind: Deployment
metadata:
 name: webapp
spec:
 replicas: 2
 strategy: 
  type: RollingUpdate
 selector:
  matchLabels:
   app: myapp
 template:
  metadata:
   name: mypod
   labels:
    app: myapp
  spec:
   containers:
   - name: webappcontainer
     image: sanjeev51197/test:myapp-v1
     ports:
     - containerPort: 9090
---
apiVersion: v1
kind: Service
metadata:
 name: websvc
spec:
 type: LoadBalancer
 selector:
  app: myapp
 ports:
  - port: 9090                  #this is the port where app is running.
    targetPort: 8080
...

